// The variables you want to modify
// $font-size-root: 20px;

@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;400&display=swap");

$body-font-family: "Muli", sans-serif;

p {
  padding: 0 !important;
  margin: 0 !important;
}
